﻿
@{
    ViewBag.Title = "AnasayfaHaberleri3";
}
<h2>Süt kazanına düşen 2 yaşındaki çocuk için askerler seferber oldu</h2>
<p></p>
<img src="~/images/Index/resim6.jpg" width="350" height="200" alt="resim1" />
<p></p>
<p><b><h4>Bingöl'ün Adaklı İlçesine bağlı Elmaağaç Köyünde süt kazanına düşünce vücudu yanan 2 yaşındaki Hasan Adar Gengeç, yolun kardan kapalı olması nedeniyle araziye inen askeri helikopterle Malatya'ya götürülüp, tedaviye alındı.</h4></b></p>
<p></p>
<p>
    2 gün önce, Bingöl 112 komuta merkezini Adaklı İlçesi Elmaağaç Köyünden arayanlar, 2 yaşındaki HASAN Adar Gengeç'in süt kazanına düşmesinden dolayı vücudunda ciddi yanıklar olduğunu belirterek yardım talebinde bulundu. İhbar ardından harekete geçen ekipler, kar nedeniyle yolun kapalı olmasından dolayı UMKE ekiplerinden yardım alarak köye ulaşmayı çalıştı.
    Olumsuz hava koşulları yüzünden ulaşıma kapalı yolların açılmasında güçlük çekilince bu kez Bingöl'de bulunan 49. Komando Tugay Komutanlığı ile iletişime geçilerek Helikopter istendi. Helikopter ile köye ulaşan sağlık ekipleri, 2 yaşındaki Gengeç'e köyde ilk müdahaleyi yaptıktan sonra onu Helikopter ile Malatya İnönü Üniversitesi Turgut Özal Tıp Merkezi'ne kaldırdılar.

    Tıp merkezi yoğun bakım ünitesinde tedavisi süren Gengeç'in vucudunun yüzde 15'inde 1 ve 2'nci derecede yanıklar olduğu ve genel durumunun iyi olduğu belirtildi.
</p>



