﻿
@{
    ViewBag.Title = "AnasayfaHaberleri4";
}
<h2>Hakkari, Diyarbakır, Şırnak ve Mardin teröre karşı yürüdü</h2>
<p></p>
<img src="~/images/Index/resim7.jpg" width="350" height="200" alt="resim1" />
<p></p>
<p><b><h4>Hakkari'nin Yüksekova ilçesinde kaymakamlık tarafından organize edilen yürüyüşle terör protesto edildi. Yaklaşık 3 bin kişi ellerinde Türk Bayraklarıyla teröre karşı yürüyüp slogan attı. Teröre karşı Mardin, Diyarbakır, Şırnak'ta da yürüyüşler vardı.</h4></b></p>
<p></p>
<p>
    Türkiye''nin dört bir yanından teröre karşı yürüyüşler düzenlendi. Yüksekova'daki yürüyüşiçin aralarında Yüksekova Kaymakamı Mahmut Kaşıkçı ve 3'üncü Tümen Komutanı Tuğgeneral Metin Tokel, kurum amirlerinin de bulunduğu yaklaşık 3 bin kişi İpekyolu Caddesi üzerinde toplandı. Ellerindeki Türk Bayrakları'yla yürüyüşe geçen kalabalık sık sık 'Türk-Kürt kardeştir ayrım yapan kalleştir', 'Şehitler ölmez Vatan bölünmez', 'Kahrolsun PKK' sloganları atarak ilçe merkezindeki Cengiz Topel Caddesi üzerinden eski cezaevi kavşağına geldi. Buradan tekrar yürüyen kalabalık dev Türk Bayrağı açarak kaymakamlık önünde toplandı.

    <b>TERÖRE KARŞI DİK DURMA GÜNÜ</b>

    Toplanan kalabalığa cami hoparlöründen İlçe Müftüsü Mehmet Korkut dua okuttu. Daha sonra Kaymakam Mahmut Kaşıkçı konuşma yaptı. Bu günün teröre karşı dik durma günü olduğunu belirten Kaymakam Kaşıkçı şunları söyledi: "Yüksekova için büyük bir mitingitir. Teröre karşı dik durma günüydü. İnşallah bundan sonra da ülkemizde bir daha terör asla ve asla yaşanmayacak. Yüksekovalı kardeşlerimize, katılanlara, bize cadde de sokakta, evlerinin balkonlarından destek veren bütün kardeşlerimize teşekkür ediyorum. Bu ülke bizim. Anadolu bütün insanlık için sığınacak tek nokta. Sıkıntıya düşen bu topraklara geliyor. Suriye'de, Kobani'de ve Irak'ta sıkıntıya düşen bu topraklara sığınıyor. Balkanlarda Orta Asya'da nerde başı derde düşen bu topraklara sığınıyor. Onun için bu ülke bizim. Bu ülke hepimizin. Tek vatan, tek bayrak. Bu ay yıldızlı bayrağın altında herkese yer var. Bütün insanlarımıza yer var. Yeter ki insanlarımız bu bayrağa, bu memlekete, bu topraklara sahip çıksın."</p>



