﻿
@{
    ViewBag.Title = "AnasayfaHaberleri1";
}

<h2>Bahçeli'den 'provokasyon' uyarısı</h2>
<p></p>
<img src="~/images/Index/resim4.jpg" width="350" height="200" alt="resim1" />
<p></p>
<p><b><h4>Milliyetçi Hareket Partisi Genel Başkanı Devlet Bahçeli, Twitter hesabından yaptığı açıklamada provokasyon uyarısı yapıp "Binaların kundaklanmasını doğru ve makul göremeyiz" mesajını verdi. </h4></b></p>
<p></p>
<p>
    Milliyetçi Hareket Partisi Genel Başkanı Devlet Bahçeli, Twitter hesabından yaptığı açıklamada provokasyon uyarısı yapıp "Binaların kundaklanmasını doğru ve makul göremeyiz" mesajını verdi.
    Devlet Bahçeli

    MHP Genel Başkanı Devlet Bahçeli, Twitter hesabından yaptığı açıklamada sağduyu çağrısı yaptı.

    Son bir hafta içinde Beşiktaş ve ardından Kayseri'deki saldırılarda 58 can kaybının yaşandığını hatırlatan Bahçeli, "Hainler sokakların karışmasını istiyor. Dağda yapamadıklarını şehirlerde görmeyi umuyor. Oyuna gelemeyiz, oyunculara kanamayız" dedi.
    'Provokasyonların cazip davetine tamam diyemeyiz'

    MHP lideri, şöyle devam etti:

    "Huzursuzluk ve istikrarsızlık kendi içinde yeni cevaplar üretecek, yeni arayışlara kapı açacaktır. Ve bu demokratik sınırlarda olacaktır. Hainlerin amacı milli aklı karıştırmak, toplumsal düzeni baltalamak, herkesin kendine göre kurguladığı hak arayışını hızlandırmaktır"</p>




