﻿
@{
    ViewBag.Title = "AnasayfaHaberleri5";
}

<h2>Yemen'de intihar saldırısı!  43 ölü</h2>
<p></p>
<img src="~/images/Dunya/resim-4.jpg" width="350" height="200" alt="resim1" />
<p></p>
<p><b><h4>Yemen'in güneyindeki Aden kentinde intihar saldırısı düzenlendi. Saldırıda ilk belirlemelere göre 43 asker hayatını kaybetti. Onlarca asker yaralı.</h4></b></p>
<p></p>
<p>
    Hastane kayaklarından alınan bilgiye göre, Özel Kuvvetler Komutanı  Tuğgeneral Nasır el-Amburi'nin Uluslararası Aden Havalimanı yakınındaki Hur  Mekser bölgesinde bulunan evinin önündeki askerleri hedef alan intihar  saldırısında 43 asker öldü, onlarca asker yaralandı.

    Görgü tanıkları, intihar eylemcisinin, geciken maaşlarını almak üzere  sabahın erken saatlerinde bölgede toplanan askerlerin arasına karışarak  üzerindeki bombayı patlattığını aktardı.

    Saldırıya ilişkin resmi makamlardan henüz bir açıklama yapılmadı.

    Aden'in Hur Mekser bölgesinde 10 Aralık'ta Özel Kuvvetler kışlası  girişindeki askerlere bomba yüklü araçla düzenlenen intihar saldırısında 30 kişi  hayatını kaybetmiş, 40 kişi yaralanmıştı. </p>



