﻿
@{
    ViewBag.Title = "AnasayfaHaberleri2";
}

<h2>HDP binalarına saldırılar</h2>
<p></p>
<img src="~/images/Index/resim5.jpg" width="350" height="200" alt="resim1" />
<p></p>
<p><b><h4>Kayseri'de 14 askerin hayatını kaybettiği bombalı saldırının ardından bazı il ve ilçelerdeki HDP binaları saldırıya uğradı. Ateşe verilen Beylikdüzü'ndeki HDP İlçe Başkanlığı'nda iki patlama meydana geldi. Saldırılarla ilgili 9 kişi gözaltına alındı.</h4></b></p>
<p></p>
<p>
    Beylikdüzü'ndeki HDP İlçe Başkanlığı'nda iki patlama meydana geldi.

    Kayseri'de 14 askerin hayatını kaybettiği bombalı saldırıların ardından HDP'nin bazı ofisleri saldırıya uğradı. İstanbul'da Bayrampaşa, Kartal ve Beylikdüzü'nde bulunan HDP ilçe binalarına yönelik saldırılarla ilgili olarak 9 kişi gözaltına alındı.

    Doğan Haber Ajansı'nın haberine göre, bir grup HDP'nin İstanbul Beylikdüzü İlçe Başkanlığı'nı ateşe verdi.

    Yüzleri maskeli 4 kişinin kendilerine engel olmak isteyen alışveriş merkezinin güvenlik görevlisini aşıp, kapıyı kırarak HDP ilçe başkanlığına girdiği kaydedildi.

    Ofisin ate verilmesinin ardından, içerideki tüplerden kaynaklı olduğu belirtilen peşpeşe iki patlama meydana geldi.

    Patlamalarda Beylikdüzü Polis Merkezinde görevli bir başkomiser ile 24 yaşındaki güvenlik görevlisi hafif yaralandı.
    Bursa'nın Yıldırım ilçesindeki HDP binası ateşe verildi.

    Bursa'nın Yıldırım ilçesindeki HDP binası ateşe verildi.
    Bursa Yıldırım'daki HDP binası ateşe verildi

    DHA, HDP'nin Bursa'nın Yıldırım İlçe Başkanlığı'nın da ateşe verildiğini duyurdu. Bursa-Ankara yolu üzerindeki HDP İlçe Başkanlığı'na giren saldırganlar, kapı ve pencereleri kırıp eşyalara zarar verdikten sonra binayı ateşe verdi.

    Şüpheliler kaçarken, ihbar üzerine olay yerine polis ve itfaiye ekipleri sevk edildi.

    Polis bina çevresinde önlem alırken, itfaiye ekiplerinin müdahalesi sonucu yangın, kısa sürede söndürüldü.

    Bursa İl Emniyet Müdürü Selami Yıldız saldırının yaşandığı bina çevresinde incelemelerde bulundu.
    Kocaeli'nin Darıca ilçesindeki HDP binasına ateş açıldı.

    Kocaeli'nin Darıca ilçesindeki HDP binasına ateş açıldı.
    Darıca İlçe Başkanlığı binasına ateş açıldı

    Kocaeli'nin Darıca İlçesi'nde HDP İlçe Başkanlığı binasına da ateş açıldı.

    DHA'nın haberine göre aaat 21:00 sıralarında gerçekleşen saldırıda mermiler camlara isabet etti.

    Haberde, ateş açıldığı sırada binada kimsenin bulunmadığı ifade edildi.
    HDP: Yetkililer telefonlarımıza çıkmıyor

    HDP ide Facebook sayfasında yaptığı açıklamada Cumartesi gecesi İstanbul Beykoz, Bayrampaşa, Eyüp, Beylikdüzü, Bağcılar, Üsküdar ve Kartal'da; Erzincan'da, Ankara Yenimahalle, Çanakkale, Kocaeli Darıca'da ve birçok yerde saldırılar olduğu notunu paylaştı.

    Açıklamada, "Yetkililerin telefonlarımıza çıkmamaları, saldırganların kimler tarafından himaye ve teşvik edildiklerini gösteriyor. Bu saldırıları önlemeye yönelik tedbir almayanlar bu provokasyonlara fırsat veriyorlar" uyarısı yapıldı.</p>


