﻿
@{
    ViewBag.Title = "DunyadanHaberler4";
}
<h2>John Kerry'den Suudi Arabistan ziyareti</h2>
<p></p>
<img src="~/images/Dunya/resim-3.jpg" width="350" height="200" alt="resim1" />
<p></p>
<p><b><h4>ABD Dışişleri Bakanı Kerry, resmi temaslarda bulunmak üzere gittiği Suudi Arabistan'da Kral  Selman ve Birinci Veliaht Prens Muhammed ile bir araya geldi</h4></b></p>
<p></p>
<p>
    Suudi arabistan resmi haber ajansı SPA'nın haberine göre, başkent  Riyad'daki Yemame Sarayı'nda gerçekleşen görüşmede "uluslararası meseleler ve  bölgesel konular ile iki ülke ilişkileri ve iş birliği" ele alındı.

    Görüşmede, Suudi Arabistan Devlet Bakanı Musaid bin Muhammed el-Ayban,  Kültür ve Enformasyon Bakanı Adil Tureyfi, Dışişleri Bakanı Adil el-Cubeyr ile  ABD'nin Riyad Büyükelçisi Joseph W. Westphal ve diğer yetkililer hazır bulundu.

    Öte yandan Kral Selman'ın kabulünden sonra ABD Dışişleri Bakanı Kerry,  Suudi Arabistan Birinci Veliaht Prensi ve İçişleri Bakanı Muhammed bin Nayif ile  bir araya geldi.

    Yine Yemame Sarayı'nda gerçekleşen görüşmede, başta terörle mücadele  olmak üzere güvenlik ve iş birliği konuları ile bölgesel, uluslararası  meselelerin ele alındığı kaydedildi.

    Veliaht Prens Muhammed'in Kerry ile gerçekleştirdiği görüşmeye  Dışişleri Bakanı Cubeyr, Genel İstihbarat Başkanı Abdullah bin Ali el-Karni, ABD  Riyad Büyükelçisi Westphal ve diğer yetkililerin katıldığı aktarıldı.
</p>


