﻿
@{
    ViewBag.Title = "DunyadanHaberler2";
}

<h2>Halep'teki tahliyelerde son dakika gelişmesi</h2>
<p></p>
<img src="~/images/Dunya/resim2.jpg" width="350" height="200" alt="resim1" />
<p></p>
<p><b><h4>Suriye'de tahliye otobüslerinin, Halep kentinin doğusunda muhaliflerin kontrolündeki son bölgeye girdiği bildirildi. Suriye devlet televizyonu, otobüslerden bazılarının, bölgedeki muhalif savaşçılar ve ailelerini alarak yola çıktığını belirtti. Öte yandan Halep'ten tahliyelere karşılık Fua ve Kafarya köylerindeki Şiilerin tahliyesi için gönderilen 5 ya da 6 otobüs ateşe verilerek yakıldı.</h4></b></p>
<p></p>
<p>
    Suriye resmi haber ajansı SANA, söz konusu bölgedeki sivil ve muhalifleri tahliye edecek otobüslere Uluslararası Kızılhaç Komitesi ve Suriye Kızılayı'nın eşlik ettiğini bildirdi.

    Suriye devlet televizyonu El İkbariye'nin haberine göre, rejim ve muhalifler arasında varılan anlaşma kapsamında, Doğu Halep'ten öncelikle bin 200 sivil tahliye edilecek. Buna karşılık İdlib'de muhaliflerin kuşattığı Şii köyleri Fua ve Kefreya'dan da bu sayıya yakın kişi tahliye edilecek.

    Haberde, Şii köylerinden tahliye edilenler rejim kontrolündeki bölgeye vardıktan sonra, Halep'ten daha fazla muhalif savaşçı ve ailesinin bölgeden çıkışına izin verileceği belirtildi. Muhaliflerin bu aşamadaki tahliyesi sırasında, Fua ve Kefreya'daki diğer insanlar da tahliye edilecek.</p>



