﻿@{
    ViewBag.Title = "Dunya";
}

<!-- SLİDER ÇUBUĞU -->
<div class="container padTop20 ">
    <div class="row">
        <div id="carousel-example-generic" class="carousel slide" data-interval="3000" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>


            <!-- Wrapper for slides -->
            <div class="carousel-inner carro" role="listbox">
                <div class="item active tem">
                    <a href="http://localhost:56713/Home/DunyadanHaberler1">
                        <img src="~/images/Dunya/resim0.jpg" width="1180" height="500" alt="resim1" />
                    </a>
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item tem">
                    <a href="http://localhost:56713/Home/DunyadanHaberler2">
                        <img src="~/images/Dunya/resim-1.jpg" width="1180" height="500" alt="resim2" />
                    </a>
                    <div class="carousel-caption">
                    </div>
                </div>

                <div class="item tem">
                    <a href="http://localhost:56713/Home/DunyadanHaberler3">
                        <img src="~/images/Dunya/resim-2.jpg" width="1180" height="500" alt="resim1" />
                    </a>
                    <div class="carousel-caption">
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <p> </p>
        <div class="row">
            <div class="col-md-4">
                <a href="http://localhost:56713/Home/DunyadanHaberler4">
                    <img src="~/images/Dunya/resim-3.jpg" width="350" height="200" alt="resim1" />
                </a>
            </div>
            <div class="col-md-8">
                    <h2>John Kerry'den Suudi Arabistan ziyareti</h2>
                    <p>ABD Dışişleri Bakanı Kerry, resmi temaslarda bulunmak üzere gittiği Suudi Arabistan'da Kral  Selman ve Birinci Veliaht Prens Muhammed ile bir araya geldi</p>
                    <p><a class="btn btn-default" href="http://localhost:56713/Home/DunyadanHaberler4">@Html.ActionLink(WebProjeÖdeviDeneme.Resources.lang.Devam, "DunyadanHaberler4") &raquo;</a></p>
            </div>
        </div>
        <p> </p>
        <div class="row">
            <div class="col-md-4">
                <a href="http://localhost:56713/Home/DunyadanHaberler5">
                    <img src="~/images/Dunya/resim-4.jpg" width="350" height="200" alt="resim1" />
                </a>
            </div>
            <div class="col-md-8">
                <h2>Yemen'de intihar saldırısı!  43 ölü</h2>
                <p>Yemen'in güneyindeki Aden kentinde intihar saldırısı düzenlendi. Saldırıda ilk belirlemelere göre 43 asker hayatını kaybetti. Onlarca asker yaralı.</p>
                <p><a class="btn btn-default" href="http://localhost:56713/Home/DunyadanHaberler5">@Html.ActionLink(WebProjeÖdeviDeneme.Resources.lang.Devam, "DunyadanHaberler5") &raquo;</a></p>
            </div>
        </div>
        <p> </p>



