﻿
@{
    ViewBag.Title = "DunyadanHaberler1";
}

<h2>NATO'dan çok konuşulacak 'Suriye' açıklaması</h2>
<p></p>
<img src="~/images/Dunya/resim1.jpg" width="350" height="200" alt="resim1" />
<p></p>
<p><b><h4>NATO Genel Sekreteri Jens Stoltenberg, ittifakın Suriye'deki iç savaşa müdahil olmamasının doğru karar olduğunu savundu.</h4></b></p>
<p></p>
<p>
    Stoltenberg, Bild am Sonntag gazetesine verdiği demeçte, NATO'nun Suriye’deki savaşa müdahale etmediğini çünkü bunun durumu daha da kötüleştireceğini öne sürdü.

    Stoltenberg, “Suriye'de korkunç bir insani felaket yaşıyoruz. Bazen Afganistan'da olduğu gibi, asker konuşlandırmak doğru karardır... Ancak bazen askeri yöntemler kullanmak faydadan çok zarar getirir. Suriye konusunda da NATO üyeleri herhangi bir askeri müdahalenin durumu daha da kötüye götüreceğine karar verdi" dedi.

    "Daha büyük bir bölgesel çatışma riski" almak istemediklerini belirten Stoltenberg, "Ya da daha fazla masum insan ölebilir. Asker konuşlandırmak her zaman çözüm değildir" ifadesini kullandı.</p>


