﻿
@{
    ViewBag.Title = "DunyadanHaberler3";
}


<h2>New York Polisi, Times Meydanı'nda İstanbul saldırısı şehitlerini andı </h2>
<p></p>
<img src="~/images/Dunya/resim3.jpg" width="350" height="200" alt="resim1" />
<p></p>
<p><b><h4>New York'un Times Meydanı'nda İstanbul'da gerçekleştirilen terör saldırısında şehit olan polis memurları için düzenlenen anma törenine New York Polis Teşkilatı'nda görev yapan polisler katılarak dayanışma mesajı verdi.</h4></b></p>
<p></p>
<p>
    ABD'nin New York eyaletinde Times Meydanı'nda İstanbul'da gerçekleştirilen terör saldırısında şehit olan polis memurları için anma töreni düzenlendi. New York Polis Teşkilatı'nda görevli polisler anma törenine katılarak Türkiye'ye dayanışma mesajı verdi.

    New York Polis Teşkilatı Müslüman Polisler Derneği Başkanı Adeel Rana, anma töreninde yaptığı konuşmada, "Türk meslektaşlarımızı desteklemek  ve dayanışma mesajı vermek için bugün burada toplandık" dedi.</p>

