﻿
@{
    ViewBag.Title = "EkonomiHaberleri4";
}

<h2>Merkez Bankası'nın beklenti anketine göre yıl sonu tahminini açıkladı</h2>
<p></p>
<img src="~/images/Ekonomi/resim4.jpg" width="350" height="200" alt="resim1" />
<p></p>
<p><b>TCMB beklenti anketinde yıl sonu dolar kuru beklentisi 3.3369'dan 3.4602'ye yükseldi. Büyüme beklentisi ise 2,9'dan 2,6'ya geriledi.</b></p>
<p></p>
<p>TCMB'nin finansal ve reel sektörde karar alıcı, uzman kişiler, profesyoneller ile yabancı finans kuruluşlarının uzmanları arasından seçilen 69 katılımcıyla gerçekleştirdiği "2016 yılı Aralık ayı Beklenti Anketi" yayımlandı. Buna göre yıl sonu dolar beklentisi 3.3369'dan 3.4602'ye çıktı. GSYH 2016 yılı büyüme beklentisi bir önceki anket döneminde yüzde 2,9 iken, bu anket döneminde yüzde 2,6'ya geriledi.</p>

