﻿
@{
    ViewBag.Title = "EkonomiHaberleri3";
}

<h2>Üsküdar denize doğru açılıyor!</h2>
<p></p>
<img src="~/images/Ekonomi/resim3.jpg" width="700" height="400" alt="resim1" />
<p><b>Üsküdar sahilinde Marmaray istasyon girişlerinin olduğu bölümünden denize kadar olan kısım hakkında doldurma kararı çıktı. İstanbul Büyükşehir Belediye Meclisi’nde oyçokluğu ile alınan bu karar sonrasında Şemsi Paşa Camisi ile Üsküdar iskelesi arasındaki sahil kısmı ‘kazıklı sistem teras’ ile 12 bin metrekare doldurulacak, 125 bin metrekarelik dev meydan ortaya çıkacak.</b></p>
<p></p>
<p>İSTANBUL Büyükşehir Belediye Meclisi‘nde ‘Üsküdar Meydanına Dair Dolgu Amaçlı 1/5 bin ve bin ölçekli imar planı’ değişikliği yapıldı. CHP’li üyelerin itirazlarına rağmen oy çokluğu ile alınan kararla, Kızkule’si yönünde bulunan Şemsi Paşa Camisi ile Üsküdar iskelesi arası ‘kazıklı sistem teras’ alanı ile doldurulacak ve 12 bin metrekarelik yeni alan sağlanacak. Proje Üsküdar çarşı içinde bulunan Ahmediye Meydanı’ndan denize kadar olan 500 metrelik bölümü de kapsıyor. Böylece meydan alanı, sahil ve park kullanımını kapsayan alan 125 bin metrekare büyüklüğüne ulaşacak. Marmaray İstasyon girişlerinin ve tesisat binalarının olduğu bölümünden denize kadar olan kısım “Meydan” olarak düzenlenecek.</p>

