﻿
@{
    ViewBag.Title = "Ekonomi";
}

<h1>EKONOMİ HABERLERİ</h1>
<p> </p>

<div class="row">
    <div class="col-md-4">
        <a href="http://localhost:56713/Home/EkonomiHaberleri1">
            <img src="~/images/Ekonomi/resim1.jpg" width="350" height="200" alt="resim1" />
        </a>
    </div>
    <div class="col-md-8">
        <h2>Murdoch, İngiliz Sky'ı 14.8 milyar dolara aldı</h2>
        <p>ABD'li medya devi Rupert Murdoch'un sahibi olduğu 21st Century Fox, İngiliz TV istasyonu Sky'ı 14.8 milyar dolara satın alma konusunda anlaşmaya vardığını duyurdu. Murdoch, hali hazırda İngiliz Sky'ın yüzde 39'luk hissesine sahip durumda. Son alım operasyonu ile birlikte tamamına sahip olmuş olacak. 14.8 milyar dolarlık satın alma anlaşmasında son imzalar ise yarın atılıyor.</p>
        <p><a class="btn btn-default" href="http://localhost:56713/Home/EkonomiHaberleri1">@Html.ActionLink(WebProjeÖdeviDeneme.Resources.lang.Devam, "EkonomiHaberleri1")&raquo;</a></p>
    </div>
</div>
<p> </p>

<div class="row">
    <div class="col-md-4">
        <a href="http://localhost:56713/Home/EkonomiHaberleri2">
            <img src="~/images/Ekonomi/resim2.jpg" width="350" height="200" alt="resim1" />
        </a>
    </div>
    <div class="col-md-8">
        <h2>Capital, Türkiye'nin en büyük 500 şirketini açıkladı</h2>
        <p>Capital dergisi tarafından Vodafone'un ana sponsorluğunda düzenlenen Türkiye'nin En Büyük 500 Özel Şirketi Araştırması'nın sonuçları İstanbul'da düzenlenen törenle açıklandı. Törende, araştırma kapsamında ciro, karlılık, ihracat ve istihdam rakamlarına göre değerlendirilen şirketlere 8 kategoride 24 ödül verildi.</p>
        <p><a class="btn btn-default" href="http://localhost:56713/Home/EkonomiHaberleri2">@Html.ActionLink(WebProjeÖdeviDeneme.Resources.lang.Devam, "EkonomiHaberleri2")&raquo;</a></p>
    </div>
</div>
<p> </p>

<div class="row">
    <div class="col-md-4">
        <a href="http://localhost:56713/Home/EkonomiHaberleri3">
            <img src="~/images/Ekonomi/resim3.jpg" width="350" height="200" alt="resim1" />
        </a>
    </div>
    <div class="col-md-8">
        <h2>Üsküdar denize doğru açılıyor!</h2>
        <p>Üsküdar sahilinde Marmaray istasyon girişlerinin olduğu bölümünden denize kadar olan kısım hakkında doldurma kararı çıktı. İstanbul Büyükşehir Belediye Meclisi’nde oyçokluğu ile alınan bu karar sonrasında Şemsi Paşa Camisi ile Üsküdar iskelesi arasındaki sahil kısmı ‘kazıklı sistem teras’ ile 12 bin metrekare doldurulacak, 125 bin metrekarelik dev meydan ortaya çıkacak.</p>
        <p><a class="btn btn-default" href="http://localhost:56713/Home/EkonomiHaberleri3">@Html.ActionLink(WebProjeÖdeviDeneme.Resources.lang.Devam, "EkonomiHaberleri3")&raquo;</a></p>
    </div>
</div>
<p> </p>

<div class="row">
    <div class="col-md-4">
        <a href="http://localhost:56713/Home/EkonomiHaberleri4">
            <img src="~/images/Ekonomi/resim4.jpg" width="350" height="200" alt="resim1" />
        </a>
    </div>
    <div class="col-md-8">
        <h2>Merkez Bankası'nın beklenti anketine göre yıl sonu tahminini açıkladı</h2>
        <p>TCMB beklenti anketinde yıl sonu dolar kuru beklentisi 3.3369'dan 3.4602'ye yükseldi. Büyüme beklentisi ise 2,9'dan 2,6'ya geriledi.</p>
        <p><a class="btn btn-default" href="http://localhost:56713/Home/EkonomiHaberleri4">@Html.ActionLink(WebProjeÖdeviDeneme.Resources.lang.Devam, "EkonomiHaberleri4")&raquo;</a></p>
    </div>
</div>
<p> </p>

<div class="row">
    <div class="col-md-4">
        <a href="http://localhost:56713/Home/EkonomiHaberleri5">
            <img src="~/images/Ekonomi/resim5.jpg" width="350" height="200" alt="resim1" />
        </a>
    </div>
    <div class="col-md-8">
        <h2>Nükleerde yerli sanayiciye 10 milyar dolarlık fırsat</h2>
        <p>Hacettepe Üniversitesi Nükleer Enerji Mühendisliği Bölümü Öğretim Üyesi Doç. Dr. Şule Ergün, Türkiye'de yapılacak nükleer santral projeleriyle Türk firmalarının birçok alanda iş yapma imkanı bulacağını belirterek, "42 milyar dolarlık nükleer santral yatırımları Türk firmaları için yaklaşık 10 milyar dolarlık bir fırsat oluşturacak." ifadesini kullandı.</p>
        <p><a class="btn btn-default" href="http://localhost:56713/Home/EkonomiHaberleri5">@Html.ActionLink(WebProjeÖdeviDeneme.Resources.lang.Devam, "EkonomiHaberleri5")&raquo;</a></p>
    </div>
</div>
<p> </p>

<div class="row">
    <div class="col-md-4">
        <a href="http://localhost:56713/Home/EkonomiHaberleri6">
            <img src="~/images/Ekonomi/resim5.jpg" width="350" height="200" alt="resim1" />
        </a>
    </div>
    <div class="col-md-8">
        <h2>Nükleerde yerli sanayiciye 10 milyar dolarlık fırsat</h2>
        <p>Hacettepe Üniversitesi Nükleer Enerji Mühendisliği Bölümü Öğretim Üyesi Doç. Dr. Şule Ergün, Türkiye'de yapılacak nükleer santral projeleriyle Türk firmalarının birçok alanda iş yapma imkanı bulacağını belirterek, "42 milyar dolarlık nükleer santral yatırımları Türk firmaları için yaklaşık 10 milyar dolarlık bir fırsat oluşturacak." ifadesini kullandı.</p>
        <p><a class="btn btn-default" href="http://localhost:56713/Home/EkonomiHaberleri6">@Html.ActionLink(WebProjeÖdeviDeneme.Resources.lang.Devam, "EkonomiHaberleri6")&raquo;</a></p>
    </div>
</div>
<p> </p>
