﻿
@{
    ViewBag.Title = "EkonomiHaberleri5";
}

<h2>Nükleerde yerli sanayiciye 10 milyar dolarlık fırsat</h2>
<p></p>
<img src="~/images/Ekonomi/resim5.jpg" width="350" height="200" alt="resim1" />
<p></p>
<p><b><h5>Hacettepe Üniversitesi Nükleer Enerji Mühendisliği Bölümü Öğretim Üyesi Doç. Dr. Şule Ergün, Türkiye'de yapılacak nükleer santral projeleriyle Türk firmalarının birçok alanda iş yapma imkanı bulacağını belirterek, "42 milyar dolarlık nükleer santral yatırımları Türk firmaları için yaklaşık 10 milyar dolarlık bir fırsat oluşturacak." ifadesini kullandı.</h5></b></p>
<p></p>
<p>Aynı zamanda Uluslararası Nükleer Santraller Zirvesi Başkanı da olan Ergün, yaptığı yazılı açıklamada, nükleer santral projelerinin inşaat, imalat, elektrik-elektronik ve makine sanayi sektörlerinde iş hacmini artıracağını ve yeni istihdam alanları oluşturacağını bildirdi.

Nükleer enerji yatırımlarının Türk firmaları için yeni bir ekonomi doğuracağını vurgulayan Ergün, şunları kaydetti:
"Akkuyu ve kurulması planlanan Sinop nükleer santral projeleri, yerlileştirme çalışmaları kapsamında Türk firmalarına iş vermeye hazırlanıyor. 42 milyar dolarlık nükleer santral yatırımları Türk firmaları için yaklaşık 10 milyar dolarlık bir fırsat oluşturacak. Tasarıma bağlı değişiklik gösterse de yeni nesil bir santralde yaklaşık olarak 3 bin vana, 250 pompa, 70 kilometre borulama hattı, 483 kilometre elektrik kablosu ve 90 bin elektrik ekipmanı gerekecek."
Ergün, nükleer santrallere yönelik geliştirilecek kapasitenin enerji, uzay, savunma, otomotiv, denizcilik ve havacılık gibi katma değeri yüksek sanayi kollarında da Türkiye'yi ileriye taşıyacağını belirtti. </p>
