﻿
@{
    ViewBag.Title = "EkonomiHaberleri2";
}

<h2>Capital, Türkiye'nin en büyük 500 şirketini açıkladı</h2>
<p></p>
<img src="~/images/Ekonomi/resim2.jpg" width="700" height="400" alt="resim1" />
<p><b>Türkiye'nin en büyük şirketleri Tüpraş, OMV Petrol Ofisi ve Türk Hava Yolları (THY) olarak belirlendi.</b></p>
<p></p>
<p>Capital dergisi tarafından Vodafone'un ana sponsorluğunda düzenlenen Türkiye'nin En Büyük 500 Özel Şirketi Araştırması'nın sonuçları İstanbul'da düzenlenen törenle açıklandı. Törende, araştırma kapsamında ciro, karlılık, ihracat ve istihdam rakamlarına göre değerlendirilen şirketlere 8 kategoride 24 ödül verildi.

Araştırmada Türkiye ekonomisinin sürdürülebilir zeminde büyümesine katkı sağlayan şirketler ciro büyüklüğüne göre sıralanıyor. Buna göre, Türkiye'nin en büyük şirketleri Tüpraş, OMV Petrol Ofisi ve THY, "Türkiye'nin En Büyük Şirketleri" olurken, Yatağan Termik Enerji Üretim, Cengiz Enerji ve Kipaş Kağıt Sanayi İşletmeleri de "Cirosunu En Çok Artıran Şirketler" arasında yer aldı.</p>

