﻿
@{
    ViewBag.Title = "EkonomiHaberleri1";
}

<h2>Murdoch, İngiliz Sky'ı 14.8 milyar dolara aldı</h2>
<p> </p>
<img src="~/images/Ekonomi/resim1.jpg" width="700" height="400" alt="resim1" />
<p><b>ABD'li medya devi Rupert Murdoch'un sahibi olduğu 21st Century Fox, İngiliz TV istasyonu Sky'ı 14.8 milyar dolara satın alma konusunda anlaşmaya vardığını duyurdu. Murdoch, hali hazırda İngiliz Sky'ın yüzde 39'luk hissesine sahip durumda. Son alım operasyonu ile birlikte tamamına sahip olmuş olacak. 14.8 milyar dolarlık satın alma anlaşmasında son imzalar ise yarın atılıyor.</b></p>
<p> </p>
<p>Hisse başına 10,75 sterlin veya 13,40 dolara karşılık gelen anlaşma tutarı, Sky'ın hisselerinin perşembe günkü kapanış fiyatına kıyasla yüzde 36 daha fazla. İngiliz şirketin Londra'da işlem gören hisseleri, birleşme konusunda ön anlaşmaya varıldığı haberlerinin ardından yüzde 27 değer kazanmış, haber piyasalarda büyük heyecan yaratmıştı.

Analistler, Fox'un Sky'ın kontrolünü tamamen ele geçirmesinin, Avrupa'da önemli bir medya platformu oluşturmasına yardımcı olacağını belirtiyor. Sky, İngiltere, İtalya, İrlanda ve Almanya'da olmak üzere 21,8 milyon müşterisine uydu üzerinden televizyon yayını yapıyor.

Milyarder Rupert Murdock'un sahip olduğu 21st Century Fox, halen Sky Deutschland'ın yüzde 55'ini ve Sky İtalya'nın tamamının kontrolünü elinde tutuyor. </p>


