﻿@{
    ViewBag.Title = "Anasayfa";
}

<!-- SLİDER ÇUBUĞU -->
<div class="container padTop20 ">
    <div class="row">
        <div id="carousel-example-generic" class="carousel slide" data-interval="3000" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>


            <!-- Wrapper for slides -->
            <div class="carousel-inner carro" role="listbox">
                <div class="item active tem">
                    <a href="http://localhost:56713/Home/AnasayfaHaberleri1">
                        <img src="~/images/Index/resim1.jpg" width="1180" height="500" alt="resim1" />
                    </a>
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item tem">
                    <a href="http://localhost:56713/Home/DunyadanHaberler2">
                        <img src="~/images/Index/resim2.jpg" width="1180" height="500" alt="resim2" />
                    </a>
                    <div class="carousel-caption">
                    </div>
                </div>

                <div class="item tem">
                    <a href="http://localhost:56713/Home/AnasayfaHaberleri2">
                        <img src="~/images/Index/resim3.jpg" width="1180" height="500" alt="resim1" />
                    </a>
                    <div class="carousel-caption">
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>
        <p> </p>
        <div class="row">
            <div class="col-md-4">
                <a href="http://localhost:56713/Home/AnasayfaHaberleri3">
                    <img src="~/images/Index/resim6.jpg" width="350" height="250" alt="resim1" />
                </a>
                <h2>Süt kazanına düşen 2 yaşındaki çocuk için askerler seferber oldu</h2>
                <p>Bingöl'ün Adaklı İlçesine bağlı Elmaağaç Köyünde süt kazanına düşünce vücudu yanan 2 yaşındaki Hasan Adar Gengeç, yolun kardan kapalı olması nedeniyle araziye inen askeri helikopterle Malatya'ya götürülüp, tedaviye alındı.</p>
                <p><a class="btn btn-default" href="http://localhost:56713/Home/AnasayfaHaberleri3">@Html.ActionLink(WebProjeÖdeviDeneme.Resources.lang.Devam,"AnasayfaHaberleri3") &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <a href="http://localhost:56713/Home/AnasayfaHaberleri4">
                    <img src="~/images/Index/resim7.jpg" width="350" height="250" alt="resim1" />
                </a>
                <h2>Hakkari, Diyarbakır, Şırnak ve Mardin teröre karşı yürüdü</h2>
                <p>Hakkari'nin Yüksekova ilçesinde kaymakamlık tarafından organize edilen yürüyüşle terör protesto edildi. Yaklaşık 3 bin kişi ellerinde Türk Bayraklarıyla teröre karşı yürüyüp slogan attı. Teröre karşı Mardin, Diyarbakır, Şırnak'ta da yürüyüşler vardı.</p>
                <p><a class="btn btn-default" href="http://localhost:56713/Home/AnasayfaHaberleri4">@Html.ActionLink(WebProjeÖdeviDeneme.Resources.lang.Devam, "AnasayfaHaberleri4") &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <a href="http://localhost:56713/Home/EkonomiHaberleri3">
                    <img src="~/images/Index/resim1.jpg" width="350" height="250" alt="resim1" />
                </a>
                <h2>Üsküdar denize doğru açılıyor!</h2>
                <p>Üsküdar sahilinde Marmaray istasyon girişlerinin olduğu bölümünden denize kadar olan kısım hakkında doldurma kararı çıktı. İstanbul Büyükşehir Belediye Meclisi’nde oyçokluğu ile alınan bu karar sonrasında Şemsi Paşa Camisi ile Üsküdar iskelesi arasındaki sahil kısmı ‘kazıklı sistem teras’ ile 12 bin metrekare doldurulacak, 125 bin metrekarelik dev meydan ortaya çıkacak.</p>
                <p><a class="btn btn-default" href="http://localhost:56713/Home/EkonomiHaberleri3">@Html.ActionLink(WebProjeÖdeviDeneme.Resources.lang.Devam, "EkonomiHaberleri3") &raquo;</a></p>
            </div>
        </div>
