﻿
@{
    ViewBag.Title = "MagazinHaberleri1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sinem Kobal: Böyle şeyler asılsız</h2>
<p></p>
<img src="~/images/Magazin/resim1.jpg" width="350" height="200" alt="resim1" />
<p></p>
<p><b>Güzel oyuncu Sinem Kobal önceki gün spor çıkışı Bebek’te objektiflere takıldı.</b></p>
<p></p>
<p>Eşi Kenan İmirzalıoğlu ile çocuk sahibi olma konusunda aralarında anlaşmazlık olduğu ve bebek yapmak istemediği haberleri hatırlatılan güzel oyuncu, muhabirlere dert yandı.
    Evliliklerinde her şeyin yolunda gittiğini belirten Kobal, “Böyle şeyler asılsız. Kesinlikle uydurma haberler. Evliliğimize biraz saygı duyulmasını istiyorum” diyerek iddialara son noktayı koydu.</p>

