﻿
@{
    ViewBag.Title = "Magazin";
}
<p></p>
<p></p>
<div class="row">
    <div class="col-md-6">
        <a href="http://localhost:56713/Home/MagazinHaberleri1">
            <img src="~/images/Magazin/resim1.jpg" width="500" height="300" alt="resim1" />
        </a>
        <h2>Sinem Kobal: Böyle şeyler asılsız</h2>
        <p>Güzel oyuncu Sinem Kobal önceki gün spor çıkışı Bebek’te objektiflere takıldı.</p>
        <p><a class="btn btn-default" href="http://localhost:56713/Home/MagazinHaberleri1">@Html.ActionLink(WebProjeÖdeviDeneme.Resources.lang.Devam, "MagazinHaberleri1") &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <a href="http://localhost:56713/Home/MagazinHaberleri2">
            <img src="~/images/Magazin/resim2.jpg" width="500" height="300" alt="resim1" />
        </a>
        <h2>Meltem Cumbul'un dizisinde 'genç oyuncu' krizi</h2>
        <p>1 yaşından küçük bir bebeğin çekimlerde olmasına tepki göstererek “Kırlangıç Fırtınası” setini terk eden Meltem Cumbul’un adı şimdi yeni bir krizle gündemde.</p>
        <p><a class="btn btn-default" href="http://localhost:56713/Home/MagazinHaberleri2">@Html.ActionLink(WebProjeÖdeviDeneme.Resources.lang.Devam, "MagazinHaberleri2") &raquo;</a></p>
    </div>
</div>

