﻿
@{
    ViewBag.Title = "MagazinHaberleri2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Meltem Cumbul'un dizisinde 'genç oyuncu' krizi</h2>
<p></p>
<img src="~/images/Magazin/resim2.jpg" width="350" height="200" alt="resim1" />
<p></p>
<p><b><h4>1 yaşından küçük bir bebeğin çekimlerde olmasına tepki göstererek “Kırlangıç Fırtınası” setini terk eden Meltem Cumbul’un adı şimdi yeni bir krizle gündemde.</h4></b></p>
<p></p>
<p>
    Meltem Cumbul’un başrolü Fikret Kuşkan’la paylaştığı “Kırlangıç Fırtınası”nın setinde bebek krizi yaşandığı haberi geçen hafta çok konuşuldu.
    Oyuncular Sendikası Başkanı olan Cumbul, dizinin kadrosuna 1 yaşından küçük bir bebeğin de dahil edileceğini duyunca seti terk etti. Yapımcı, onun yerine Emel Çölgeçen’le anlaştı.
    Ancak iddiaya göre setteki tek kriz o olmadı. Ünlü oyuncunun gençliğini Tuğçe Tanış canlandıracaktı. Üç bölüm onunla çekildi. Ancak görüntüleri izleyen Cumbul, “Gençliğimi ben daha iyi oynarım” diye yapımcıyı aradı. Cumbul’la yeniden çekim yapıldı. Ancak sonuç yönetmeni de yapımcıyı da memnun etmedi. Onların yola Tanış’la devam kararı üzerine de Meltem Cumbul diziye veda etti.
</p>



