﻿
@{
    ViewBag.Title = "SporHaberleri1";
}

<h2>Burak Yılmaz'dan flaş açıklamalar!</h2>
<p></p>
<img src="~/images/Spor/resim1.jpg" width="350" height="200" alt="resim1" />
<p></p>
<p><b><h4>Çin Süper Lig takımlarından Beijing Guoan forması giyen milli futbolcu Burak Yılmaz, çok çarpıcı açıklamalarda bulundu.</h4></b></p>
<p></p>
<p>Galatasaray'da geçirdiği başarılı dönemin ardından geçen sezon devre arasında Çin'e transfer olan , TRTSpor'da açıklamalarda bulundu.Osmanlı maçının bir hafta öncesinde taraftarımızın bana bir tepkisi olmuştu. Son 1 ay zaten sakatlıklarla boğuşuyordum ve bir an önce dönmek için uğraşıyordum. Çok ağır bir sakatlıktan sonra Sivas maçına döndüm Sneijder'e bir pas attım orada çok büyük bir tepki oldu. Artık ben de dayanamadım ve karşılık vermiştim. Sonra gittim 4.yıldızı gösterdim tribünlere mesaj vermek istedim.Bana teklifler vardı hem İtalya'dan hem İngiltere'den. West Ham'ın ne kadar teklif ettiğini söylemek istemiyorum ama sezon başında daha yüksek bir rakamla gelmişlerdi. Hamza Hamzaoğlu beni bırakmak istemedi. Ben de saygı duydum.Sivas maçı itibarıyla Galatasaray'dan ayrılışım için yola çıkmıştı. Menajerlerime söyledim anlaşmaları yapın diye. Osmanlı maçında da o golü atınca tribünlere el salladım. Bir futbolcu bir takımdan ayrılıyorsa tek taraflı olmaz. Yönetimimiz de finansal açıdan zor durumda olduğu için beni satmayı uygun gördüler bence. Karşılıklı isteyerek,ekonomik olarak yararımın da olduğunu düşünüyorum ve transfer oldum. Dönemin şartları itibarıyle Galatasaray'da bana kal diyecek kimse olamazdı. Kal demelerinin o saatten sonra bir önemi yoktu.Çin'e gitmek istemiyordum ama bana 'Hayır' diyemeyeceğim net bir teklif yaptılar. Düşünmeme bile fırsat vermediler. Mustafa Denizli her maçta oynayacağımı ve ne zaman istersem o zaman oyundan çıkabileceğimi söyledi. "Sandalyeyi al, ceza alanında otur, yine sen oynayacaksın. Ne zaman istersen, oyundan çıkarsın" dedi. Mustafa Denizli'ye veda ederken çok zorlandım. Fatih Terim, Şenol Güneş ve Mustafa Denizli ile çalıştığım için çok şanslıyım. Gitme vaktimin geldiği Konya maçında locada ağladım. Tutamadım kendimi. İçime ateş düştü. Güzel bir anıydı. Galatasaray'a gelişim de güzeldi, vedayı da güzel yaptığımı düşünüyorum.
 </p><p>   Büyük konuşmak istemiyorum ama, Türkiye'ye dönmeyeceğim. Bir teklif vardı ama, Türkiye'ye dönmeyeceğim. Buraya gelmeden önce Şenol Güneş ile birlikte bir yemek yedik. Hep görüşürüz, ararım, sorarım. Şenol Hoca bana transfer teklifi yapmadı. Hatta beni istemediğini söyledi (Gülerek). Şenol hoca ile beraberdim, transferle alakalı bir şey söz konusu değildi. Çin'de kalacak mısın diye sordu, kalacağım dedim. Türkiye'ye gelirsem, tekrar aynı şeyleri yaşayacağımı biliyorum. Dönersem de Galatasaray'da oynamak isterim.
    Bizim Fatih hocamızla hiçbir zaman iletişimsizliğimiz olmadı. Bize bağırır, çağırır ama biz ona hiçbir zaman karşı gelmedik. Hollanda'yı saf dışı bırakıp direkt gittik. O platformda Türk bayrağının dalgalanması çok önemliydi. Kesinlikle o turnuva bizim için iyi değildi. Hoca da belki bizi hazır görmedi. Fatih hoca biz senelerce tanıyor bunu dile getirmiştir. Yüzde yüz haklıdır. Ben bir arkadaşımın açığını gördüğüm zaman onu örtbas etmeye çalışırım. Onu uyarmaya çalışırım. Bizi basın önünde o kadar eleştirmenin yeri ve zamanı doğru değildi. Bizi yerden yere vurmak doğru değildi, o maçlar sırasında. Hocaya da yansıyordu bu. O dönemde futbolcuların çok üzerine gidildi, harap oldular. Şampiyon sonrasında da hocamız çok eleştirildi. Biz severken de döverken de ortayı bulamıyoruz. Hatayı görüp o zaman örtbas edebilirlerdi. Kimsenin önünde eğilecek hata yapmadık.</p>
