﻿
@{
    ViewBag.Title = "SporHaberleri5";
}

<h2>Bayer Leverkusen idmanında gerginlik!</h2>
<p></p>
<img src="~/images/Spor/resim6.jpg" width="350" height="200" alt="resim1" />
<p></p>
<p><b><h4>Almanya Bundesliga’nın güçlü ekiplerinden Bayer Leverkusen’in antrenmanında gergin anlar yaşandı.</h4></b></p>
<p></p>
<p>Sakatlığı sebebiyle yaklaşık üç aydır formasından uzakta olan Karim Bellarabi ve takımın tecrübeli isimlerinden Roberto Hilbert antrenmanda bilinmeyen bir sebepten dolayı birbirlerine girdi. </p>
<p>İdman sırasında ağız dalaşına giren Bellarabi ve Hilbert’ın gerginliği büyümek üzereyken araya Hakan Çalhanoğlu, Ömer Toprak ve Dragovic girdi. Teknik direktör Roger Schmidt, Hilbert’i soyunma odasına gönderdi.</p>
<p>Hilbert ise olayın ardından yaptığı açıklamada, ‘bir fikir ayrılığına düştük, hepsi bu’ ifadelerini kullandı.</p>