﻿
@{
    ViewBag.Title = "SporHaberleri6";
}

<h2>Yusuf Namoğlu: Golün iptali doğru</h2>
<p></p>
<img src="~/images/Spor/resim5.jpg" width="350" height="200" alt="resim1" />
<p></p>
<p><b><h4>Merkez Hakem Kurulu Başkanı Yusuf Namoğlu, Fenerbahçeli Sow'un Antalyaspor'a attığı röveşata golünün hakem Cüneyt Çakır tarafından iptal edilmesi için 'doğru karar' dedi.</h4></b></p>
<p></p>
<p>Fenerbahçe'nin Antalya karşısında Mousa Sow ile kazandığı golün hakem Cüneyt Çakır tarafından "faul" gerekçesiyle iptali futbol kamuoyuun bir numaralı tartışma konusu haline gelirken MHK'nin 1 numaralı ismi o kararla ilgili olarak sporx.com'a konuştu.</p>
<p></p>
<p>Namoğlu Mousa Sow'un golünün iptalinin yüzde yüz doğru bir karar olduğunu belirterek, "Bu sadece benim şahsi görüşüm değil. Roberto Rosetti'in de Jaap Uilenberg'in de kurulumuzun da ortak görüşü bu. Biz teknik olarak bu pozisyonu analiz ettiğimizde Cüneyt hocamızın bu konuda doğru karar verdiği kararına vardık. Pozisyon faul ve iptal doğru" açıklamasını yaptı.</p>
<p></p>
<p>Namağlu bugün kamouyana yansıyan "Bu pozisyonda gol verinin kakartını sökerim" sözlerinin ise kendisine ait olmadığını belirterek, "Benim asla böyle bir yorumum olmadı. Bu ifadeler bana ait değil. Golün iptal kararıyla ilgili görüşümüz net bunu zaten ifade ediyoruz, çünkü bu konuda tereddütümüz fikir ayrılığımız yok. Roberto Rosetti de Jaap Uilenberg de tartışmasız Cüneyt hocanın iptal kararı vererek doğru yaptığını söylüyor" açıklamasını yaptı.</p>