﻿
@{
    ViewBag.Title = "SporHaberleri2";
}

<h2>Galatasaray'da ilk ayrılık! İşte yeni takımı..</h2>
<p></p>
<img src="~/images/Spor/resim2.jpg" width="350" height="200" alt="resim1" />
<p></p>
<p><b><h4>Devre arasında takımda forma şansı bulamayan isimleri göndererek kadroda hem yer açmak hem de finansal konuda biraz rahatlamak isteyen Galatasaray'da ilk ayrılık gerçekleşti.</h4></b></p>
<p></p>
<p>Ocak ayında fazla forma şansı bulamayan bazı oyuncularla yollarını ayırmayı planlayan sarı kırmızılı futbolcu Süper Lig ekibiyle büyük ölçüde anlaştı.Geçen sezon Trabzonspor'da kiralık olarak oynayan başarılı savunma oyuncusu, Riekerink yönetiminde çok fazla forma şansı bulamamıştı.Teknik direktör Rıza Çalımbay'ın özellikle kadrosunda görmek istediği 25 yaşındaki milli futbolcu Salih Dursun için kulüpler kiralama yoluyla transfer konusunda uzlaşma sağladı. Buna göre sezon sonunda satın alma opsiyonu Antalyaspor'da olacak. </p>
<p>Sağ bek, stoper ve defansif orta saha olarak da oynayan Salih Dursun'un Galatasaray'la olan sözleşmesi Haziran 2018 yılına kadar devam ediyor. Salih Dursun bu sezon Galatasaray formasını Türkiye Kupası maçında sadece 16 dakika giydi.</p>