﻿
@{
    ViewBag.Title = "SporHaberleri3";
}

<h2>Ronaldo 500 dedi! Real Madrid finalde...</h2>
<p></p>
<img src="~/images/Spor/resim3.jpg" width="350" height="200" alt="resim1" />
<p></p>
<p><b><h4>2016 FIFA Kulüpler Dünya Kupası'nda Club America'yı 2-0 yenen Real Madrid, finale yükseldi. Real Madrid'in yenilmezlik serisi rekoru 36 karşılaşmaya çıktı. Ronaldo, kariyerinde oynadığı kulüplerdeki 500. golünü attı. </h4></b></p>
<p></p>
<p>Japonya'da düzenlenen 13. FIFA Kulüpler Dünya Kupası'ndaki yarı final maçında, Kuzey, Orta Amerika ve Karayipler Futbol Konfederasyonu (CONCACAF) Şampiyonlar Ligi'nin kazananı Meksika'dan Club America ile UEFA Şampiyonlar Ligi kupasının sahibi İspanyol ekibi Real Madrid karşılaştı.</p>
<p></p>
<p>Real Madrid, Yokohama kentiyle aynı adı taşıyan statta yapılan mücadelenin ilk yarısını, Karim Benzema'nın 45+2'nci dakikada attığı golle 1-0 önde kapattı. Eflatun-beyazlılar, Cristiano Ronaldo'nun 90+3'üncü dakikada kaydettiği golle sahadan 2-0 galip ayrıldı ve adını finale yazdırdı.</p>
<p></p>
<p>2016 FIFA Kulüpler Dünya Kupası, 2014 şampiyonu Real Madrid ile turnuvada finale çıkan ilk Asya temsilcisi Kashima Antlers arasındaki maçla sahibini bulacak. Final karşılaşması, 18 Aralık Pazar günü TSİ 13.30'da oynanacak. </p>