﻿@{
    ViewBag.Title = "Spor";
}

<h2>Spor</h2>
<!-- SLİDER ÇUBUĞU -->
<div class="container padTop20 ">
    <div class="row">
        <div id="carousel-example-generic" class="carousel slide" data-interval="3000" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>


            <!-- Wrapper for slides -->
            <div class="carousel-inner carro" role="listbox">
                <div class="item active tem">
                    <a href="http://localhost:56713/Home/SporHaberleri1">
                        <img src="~/images/Spor/resim1.jpg" width="1180" height="500" alt="resim1" />
                    </a>
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item tem">
                    <a href="http://localhost:56713/Home/SporHaberleri2">
                        <img src="~/images/Spor/resim2.jpg" width="1180" height="500" alt="resim2" />
                    </a>
                    <div class="carousel-caption">
                    </div>
                </div>

                <div class="item tem">
                    <a href="http://localhost:56713/Home/SporHaberleri3">
                        <img src="~/images/Spor/resim3.jpg" width="1180" height="500" alt="resim1" />
                    </a>
                    <div class="carousel-caption">
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-4">
                <a href="http://localhost:56713/Home/SporHaberleri4">
                    <img src="~/images/Spor/resim4.jpg" width="350" height="200" alt="resim1" />
                </a>
            </div>
            <div class="col-md-8">
                <h2>Barcelona'nın yeni sezon forması beğenilmedi</h2>
                <p>Forma göğüs sponsorluğu için Rakuten ile anlaşan Barcelona’nın yeni sezon tasarımı sosyal medyada büyük yankı uyandırdı.</p>
                <p><a class="btn btn-default" href="http://localhost:56713/Home/SporHaberleri4">@Html.ActionLink(WebProjeÖdeviDeneme.Resources.lang.Devam, "SporHaberleri4")&raquo;</a></p>
            </div>
        </div>
        <p> </p>
        <div class="row">
            <div class="col-md-4">
                <a href="http://localhost:56713/Home/SporHaberleri5">
                    <img src="~/images/Spor/resim6.jpg" width="350" height="200" alt="resim1" />
                </a>
            </div>
            <div class="col-md-8">
                <h2>Bayer Leverkusen idmanında gerginlik!</h2>
                <p>Almanya Bundesliga’nın güçlü ekiplerinden Bayer Leverkusen’in antrenmanında gergin anlar yaşandı.</p>
                <p><a class="btn btn-default" href="http://localhost:56713/Home/SporHaberleri5">@Html.ActionLink(WebProjeÖdeviDeneme.Resources.lang.Devam, "SporHaberleri5")&raquo;</a></p>
            </div>
        </div>
        <p> </p>
        <div class="row">
            <div class="col-md-4">
                <a href="http://localhost:56713/Home/SporHaberleri6">
                    <img src="~/images/Spor/resim5.jpg" width="350" height="200" alt="resim1" />
                </a>
            </div>
            <div class="col-md-8">
                <h2>Yusuf Namoğlu: Golün iptali doğru</h2>
                <p>Merkez Hakem Kurulu Başkanı Yusuf Namoğlu, Fenerbahçeli Sow'un Antalyaspor'a attığı röveşata golünün hakem Cüneyt Çakır tarafından iptal edilmesi için 'doğru karar' dedi.</p>
                <p><a class="btn btn-default" href="http://localhost:56713/Home/SporHaberleri6">@Html.ActionLink(WebProjeÖdeviDeneme.Resources.lang.Devam, "SporHaberleri6")&raquo;</a></p>
            </div>
        </div>
        <p> </p>

