﻿
@{
    ViewBag.Title = "SporHaberleri4";
}

<h2>Barcelona'nın yeni sezon forması beğenilmedi</h2>
<p></p>
<img src="~/images/Spor/resim4.jpg" width="350" height="200" alt="resim1" />
<p></p>
<p><b><h4>Forma göğüs sponsorluğu için Rakuten ile anlaşan Barcelona’nın yeni sezon tasarımı sosyal medyada büyük yankı uyandırdı. </h4></b></p>
<p></p>
<p>Katalan basınında yayınlanan yeni formanın son hali sadece Barcelona taraftarlarınca değil Katalan ekibine sempati duyanlarca da hiç beğenilmedi. Formaya ait resimlerin sosyal medyaya düşmesinin ardından tepkiler de beraberinde geldi.</p>
<p></p>
<p>İşte o yorumlar;</p>
<p>ogzozgl6: Yalnız ben bu formayı halı sahada giymem Berbat ötesi.</p>
<p>sefacatal: Çok kötü olmuş!</p>
<p>nino_ulvi: PES’te hemen düzeltelim bu formayı.</p>
<p>hakansener001: Korkunç forma koskoca Barcelona'nın forması bu olmamalı.</p>
<p>gurcininan: Şirketlerin halı saha turnuvası için yaptırdıkları formalara benzemiş.</p>