﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - VAKİT HABER</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("VAKİT HABER", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(WebProjeÖdeviDeneme.Resources.lang.Anasayfa, "Index", "Home")</li>
                    <li>@Html.ActionLink(WebProjeÖdeviDeneme.Resources.lang.Dünya, "Dunya", "Home")</li>
                    <li>@Html.ActionLink(WebProjeÖdeviDeneme.Resources.lang.Ekonomi, "Ekonomi", "Home")</li>
                    <li>@Html.ActionLink(WebProjeÖdeviDeneme.Resources.lang.Spor, "Spor", "Home")</li>
                    <li>@Html.ActionLink(WebProjeÖdeviDeneme.Resources.lang.Magazin, "Magazin", "Home")</li>
                    <li>@Html.ActionLink(WebProjeÖdeviDeneme.Resources.lang.İletişim, "Iletisim", "Home")</li>
                </ul>
                <div class="col-md-3">
                    <div class="dropdown">
                        @if (HttpContext.Current.Session["Culture"].ToString() == "tr")
                        {
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">TR <span class="caret"></span></button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li>@Html.ActionLink("EN", "ChangeCulture", "Home", new { lang = "en", returnurl = this.Request.RawUrl }, null)</li>
                            </ul>
                        }
                        else
                        {
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">EN <span class="caret"></span></button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li>@Html.ActionLink("TR", "ChangeCulture", "Home", new { lang = "tr", returnurl = this.Request.RawUrl }, null)</li>
                            </ul>
                        }
                    </div>
                </div>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Efsal OKYAY</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
